* {
  font-family: 'Raleway', sans-serif;
}
body {
  background: url("https://scontent.fewr1-1.fna.fbcdn.net/v/t1.0-0/p200x200/21616239_128004304520691_7480865893912075587_n.jpg?_nc_cat=0&oh=e48e74f6484daeec2eb65a0c935c7c12&oe=5B54EFCE") no-repeat center top fixed
}
/*rgba(155, 129, 88, 1 (gold) 
  #FFFFFF (white)
  #131211 (black)

*/
.headroom {
  transition: transform 200ms linear;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-10%);
}
